body {
 font-family: Arial, sans-serif;
 background-color: #e9e9e9;
 color: #131212;
 line-height: 1.6;
}

h1 {
color: #1198db; /* Um azul Django */
}

ul {
 background-color: #fffefe4b;
 border: 1px solid #1539b1;
 padding: 15px;
}

li {
list-style-type: square;
}
